# Exercícios Módulo 5. Livrarias especializadas em dados (Soluções)

Considerações a ter em conta:

* Guardar este documento com o seguinte formato para entrega: __M5_05_nome_apelido1_apelido2__
* Fazer os exercícios com as ferramentas vistas nas sessões. 
* Comentar o código
* Utilizar nomes de variáveis apropriados, se vai guardar uma nota, chamar a essa variável nota, não n ou x

**1) Trabalhar com NumPy**

* Importar numpy e usar um alias para poder utilizar os seus recursos 
* Criar um array de elementos (de 10 a 100)
* Inverter o array
* Criar um array 3x3 com valores de 0 a 8 
* Criar um array identidade de 6x6
* Criar um array com valores aleatórios com o formato 3x3x3
* Criar dois arrays, com valores aleatórios, A e B, e verificar se são iguais (há várias opções, investigar)

In [116]:
# Completar o exercício aqui
import numpy as np
print("Array de elementos de 10 a 100")
array_elementos = np.array(range(10, 101))
print(array_elementos)
print("Array de elementos de 10 a 100 invertido a ordem")
array_invertido = np.flip(array_elementos)
print(array_invertido)
print("Array 3x3 com valores de 0 a 8 com 2 dimensões")
array_3x3 = np.arange(3 * 3).reshape(3, 3)
print(array_3x3)
print("Array identidade de 6x6")
array_identidade = np.identity(6)
print(array_identidade)
print("Array com valores aleatórios 3x3x3")
array_3x3x3 = np.random.randn((3 * 3 * 3)).reshape(3, 3, 3)
print(array_3x3x3)
# criando 2 arrays quaisquer de 5 dimensões 5x5
array_A = np.random.randn((5 * 5 * 5 * 5 * 5)).reshape(5, 5, 5, 5, 5)
array_B = np.random.randn((5 * 5 * 5 * 5 * 5)).reshape(5, 5, 5, 5, 5)
# print("Array A")
# print(array_A)
# print("Array B")
# print(array_B)
# Alguns métodos de comparação entre 2 arrays
print("Testa se os arrays A e B tem a mesma forma e os valores de todos elementos são iguais.")
print(np.array_equal(array_A, array_B))
print("Testa se os arrays A e B tem a forma equivalente se convertida e os valores de todos elementos são iguais.")
print(np.array_equiv(array_A, array_B))
print("Testa se os arrays A e B tem a mesma forma e os valores de todos elementos são próximos o bastante.")
print(np.allclose(array_A, array_B))
print("Testa se os arrays A e B tem a mesma forma.")
print(array_A.shape == array_B.shape)
print("Testa se são os arrays A e B são exatamente iguais, contudo pode produzir resultados inesperados, se tiver elementos vazios ou o tamanho de um array for diferente do outro. (Não recomendado)")
print((array_A == array_B).all())

Array de elementos de 10 a 100
[ 10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27
  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45
  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63
  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81
  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99
 100]
Array de elementos de 10 a 100 invertido a ordem
[100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83
  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65
  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47
  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29
  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11
  10]
Array 3x3 com valores de 0 a 8 com 2 dimensões
[[0 1 2]
 [3 4 5]
 [6 7 8]]
Array identidade de 6x6
[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]]
Array com valores aleatórios 3x3x3
[[[ 0.21533732  0.87540591  0.36737455]
  [ 0.81733671 -0.34775323  0.60191911]
  [-0.18635035  1.62981999  1.0254215 ]]

 [[-0.23476915 -0.87630297  0.57840355]
  [-0.74360113  1.26624299 -0.4465384 ]
  [-0.23872227 -0.49415083 -0.01874558]]

 [[ 0.67455919  1.48554189  0.91485416]
  [-2.11138899 -1.62319358  0.40229131]
  [ 1.15859739 -0.36114502 -2.45837681]]]
Testa se os arrays A e B tem a mesma forma e os valores de todos elementos são iguais.
False
Testa se os arrays A e B tem a forma equivalente se convertida e os valores de todos elementos são iguais.
False
Testa se os arrays A e B tem a mesma forma e os valores de todos elementos são próximos o bastante.
False
Testa se os arrays A e B tem a mesma forma.
True
Testa se são os arrays A e B são exatamente iguais, contudo pode produzir resultados inesperados, se tiver elementos vazios ou o tamanho de um array for diferente do outro. (Não recomendado)
False

**2) Seguir com NumPy**

* Criar um array de 100 elementos aleatórios compreendidos entre 1 e 1000 (podem ser números inteiros). 
* Este array irá chamar-se dólares
* Fazer a conversão dos preços em dólares do primeiro array para um segundo array que se vai chamar euros. Devemos utilizar a  seguinte conversão: 
  - 1 USD = 0,874413 EUR
* Mostrar o resultado do array de euros, arredondando a 2 casas decimais.

In [117]:
# Completar o exercício aqui
import numpy as np
dólares = np.random.randint(low=1, high=1000, size=100)
print("Dólares:\n", dólares, sep="")
taxa_conversão_USD_EUR = 0.874413
euros = dólares * taxa_conversão_USD_EUR
print("Euros com valores arrendondados a 2 casas decimais:\n",
      np.round(euros, 2), sep="")

Dólares:
[106 406  85 986 439 873 905 300 836   8 455 898 625 148 436 928 284 357
 319 139 321 211 809 840 976 955 308 956 532 292 885 529 446 470 519 126
  71 535 820 502 860 381 432 220 865 140 912 235 324 246 994 535 440 468
 129 802 957 186 121 437  14  15 791 724 498 134 316 656 909 193 146 123
 958 606 477 652 866 233 911 922 984 153  19 563 887 232 558 764 671  43
 777  92 961 855 173  24 518 894 718 244]
Euros com valores arrendondados a 2 casas decimais:
[ 92.69 355.01  74.33 862.17 383.87 763.36 791.34 262.32 731.01   7.
 397.86 785.22 546.51 129.41 381.24 811.46 248.33 312.17 278.94 121.54
 280.69 184.5  707.4  734.51 853.43 835.06 269.32 835.94 465.19 255.33
 773.86 462.56 389.99 410.97 453.82 110.18  62.08 467.81 717.02 438.96
 752.   333.15 377.75 192.37 756.37 122.42 797.46 205.49 283.31 215.11
 869.17 467.81 384.74 409.23 112.8  701.28 836.81 162.64 105.8  382.12
  12.24  13.12 691.66 633.08 435.46 117.17 276.31 573.61 794.84 168.76
 127.66 107.55 837.69 529.89 417.1  570.12 757.24 203.74 796.59 806.21
 860.42 133.79  16.61 492.29 775.6  202.86 487.92 668.05 586.73  37.6
 679.42  80.45 840.31 747.62 151.27  20.99 452.95 781.73 627.83 213.36]

**3) Trabalhar com pandas**

* Importar pandas e usar um alias para poder utilizar os seus recursos.
* Carregar como dataframe de pandas csv 05_05_imdb_títulos.csv e mostrar os seus 5 primeiros registos.
* Carregar como dataframe de pandas o csv 05_05_imdb_elenco.csv e mostrar os seus 5 primeiros registos
* Mostrar o número de registos do dataframe de títulos.
* Mostrar o número de registos do dataframe de elenco.
* Mostrar os 5 titulos mais antigas.
* Mostrar os filmes que no título contem a palavra “Drácula”. Quantos filmes são?
* Mostrar os 10 títulos mais comuns (que mais se repetem).
* Mostrar qual foi o primeiro filme chamado “Romeo and Juliet”.
* Listar todas os filmes que contenham a palavra “Exorcist”, ordenados do mais antigo ao mais recente.
* Mostrar quantos filmes foram feitas no ano 1950.
* Mostrar quantaos filmes foram feitas de 1950 a 1959 (inclusive).
* Mostrar todas os papéis que teve a trilogia “The Godfather”, agrupando pelo papel e forneca a informação da quantidade de vezes esse papel apareceu (exemplo: michael corleone aparece nos 3 filmes da triologia).
* Mostrar o elenco completo, ordenado pela classificação “n” do filme “Drácula” de 1958.
* Mostrar quantos papéis teve “Bruce Wayne” como protagonista (Dica: Em Batman de 1989, existe Bruce Wayne e tambem Young Bruce Wayne, que deverão ambos aparecer).
* Mostrar quantos papéis fez “Robert de Niro” na sua carreira.
* Listagem de papéis como protagonista (n=1) que teve o ator “Charlton Heston” na década dos 60’s, ordenado  por ano de forma descendente.
* Mostrar quantos papéis para atores teve na década 50’s.
* Mostrar quantos papéis para atrizes teve na década 50’s.

In [2]:
# Completar o exercício aqui
import pandas as pd
import re
dataframe_títulos = pd.read_csv('05_05_imdb_titulos.csv')
print("\nMostrando os 5 primeiros registos de títulos:")
print(dataframe_títulos.head(5))

dataframe_elenco = pd.read_csv('05_05_imdb_elenco.csv')
print("\nMostrando os 5 primeiros registos de elenco:")
print(dataframe_elenco.head(5))

print("\nNúmero de registos do dataframe de títulos.\n",
      dataframe_títulos.count()[0], sep="")
print("\nNúmero de registos do dataframe de elenco.\n",
      dataframe_elenco.count()[0], sep="")

dataframe_títulos.sort_values(by=['year'], inplace=True, ascending=True)
print("5 títulos mais antigos:")
print(dataframe_títulos.head(5))

dracula_filmes = dataframe_títulos[dataframe_títulos['title'].str.contains("Dracula") | dataframe_títulos['title'].str.contains(
    "Drácula") | dataframe_títulos['title'].str.contains("dracula") | dataframe_títulos['title'].str.contains("drácula")]
print("\nFilmes que no título contém a expressão 'Drácula':\n",
      dracula_filmes, sep="")
print("\nNúmero total de filmes com a expressão 'Drácula':",
      dracula_filmes.count()[0])

# 10 títulos mais comuns através de uma das maneiras possíveis
# print(dataframe_títulos['title'].value_counts().sort_values(ascending=False).head(10))

# 10 títulos mais comuns por outro método e atinge o mesmo resultado
groupby_títulos = dataframe_títulos.groupby(
    'title')['title'].count().sort_values(ascending=False)
print("10 títulos mais comuns:")
print(groupby_títulos.head(10))


primeiro_romeo_julieta = dataframe_títulos[dataframe_títulos.title == 'Romeo and Juliet'].sort_values(
    by=['year'], ascending=True).head(1)
print("Primeiro filme chamado 'Romeo and Juliet':")
print(primeiro_romeo_julieta)

exorcist_filmes = dataframe_títulos[dataframe_títulos['title'].str.contains(
    "Exorcist") | dataframe_títulos['title'].str.contains("exorcist")].sort_values(by=['year'], ascending=True)
print("Filmes que contenham a palavra “Exorcist”, ordenados do mais antigo ao mais recente:")
print(exorcist_filmes)

filmes_1950 = dataframe_títulos[dataframe_títulos.year == 1950]
print(f"Filmes feitos em 1950, um total de {len(filmes_1950)}:")
print(filmes_1950)

filmes_1950_1959 = dataframe_títulos.loc[(dataframe_títulos['year'] >= 1950) & (
    dataframe_títulos['year'] <= 1959)].sort_values(by=['year'], ascending=True)
print(f"Filmes feitos de 1950 a 1959, um total de {len(filmes_1950_1959)}:")
print(filmes_1950_1959)

the_godfather_papeis = dataframe_elenco.loc[(dataframe_elenco['title'] == "The Godfather") | (
    dataframe_elenco['title'].str.contains("The Godfather: "))].groupby(['character'])['character'].count()
print("Papéis que teve a trilogia “The Godfather”, agrupando pelo papel e com a informação da quantidade de vezes que esse papel apareceu no total da trilogia:")
print(the_godfather_papeis)

elenco_dracula = dataframe_elenco.loc[(dataframe_elenco['title'] == "Dracula") & (
    dataframe_elenco['year'] == 1958)].sort_values(by=['n'], ascending=True)
print('Elenco completo, ordenado pela classificação “n” do filme “Drácula” de 1958:')
print(elenco_dracula)

# Usando regex para filtrar os papéis de Bruce Wayne e variantes
# os testes para encontrar o regex ideal foram feitos em https://regex101.com/
bruce_wayne_papeis = dataframe_elenco.loc[(dataframe_elenco['character'].str.contains(
    pat="(?:Young.*)?(?:Bruce Wayne(?:.*age.*)?)$", regex=True))]
print(
    f"Papéis de Bruce Wayne como protagonista, um total de {len(bruce_wayne_papeis)}")
print(bruce_wayne_papeis)


robert_niro_papeis = dataframe_elenco.loc[(
    dataframe_elenco['name'] == 'Robert De Niro')]
print(
    f"Papéis que “Robert De Niro” fez na sua carreira, um total de {len(robert_niro_papeis)}:")
print(robert_niro_papeis)

charlton_heston = dataframe_elenco.loc[(dataframe_elenco['name'] == 'Charlton Heston') & (dataframe_elenco['year'] >= 1960) & (
    dataframe_elenco['year'] <= 1969) & (dataframe_elenco['n'] == 1)].sort_values(by=['year'], ascending=False)
print(
    f"Listagem de papéis como protagonista (n=1) que teve o ator “Charlton Heston” na década dos 60’s, ordenado  por ano de forma descendente. Um total de {len(charlton_heston)}:")
print(charlton_heston)

atores_50s = dataframe_elenco.loc[(dataframe_elenco['type'] == "actor") & (
    dataframe_elenco['year'] >= 1950) & (dataframe_elenco['year'] <= 1959)].groupby(['name'])['name'].count().sort_values(ascending=False)
print("Quantos papéis para cada um dos atores na década 50’s:")
print(atores_50s)

atrizes_50s = dataframe_elenco.loc[(dataframe_elenco['type'] == "actress") & (
    dataframe_elenco['year'] >= 1950) & (dataframe_elenco['year'] <= 1959)].groupby(['name'])['name'].count().sort_values(ascending=False)
print("Quantos papéis para cada uma das atrizes na década 50’s:")
print(atrizes_50s)

Mostrando os 5 primeiros registos de títulos:
                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

Mostrando os 5 primeiros registos de elenco:
                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

Número de registos do dataframe de títulos.
230407

Número de registos do dataframe de elenco.
3564650
5 títulos mais antigos:
                                                    title  year
13229                                          Miss Jerry  1894
103233                                 The Startled Lover  1898
133020     Reproduction of the Corbett and Jeffries Fight  1899
51528                                Family Troubles (II)  1900
195127  Pierrot's Problem, or How to Make a Fat Wife O...  1900

Filmes que no título contém a expressão 'Drácula':
                           title  year
94156                    Dracula  1931
188854        Dracula's Daughter  1936
163326            Son of Dracula  1943
4851            House of Dracula  1945
48770           Blood of Dracula  1957
...                          ...   ...
221137               Dracula Now  2015
147755           Cult of Dracula  2016
194874  Frankenstein vs. Dracula  2018
150603             Dracula's War  2018
156968                   Dracula  2019

[84 rows x 2 columns]

Número total de filmes com a expressão 'Drácula': 84
10 títulos mais comuns:
title
Hamlet                  19
Carmen                  16
Macbeth                 15
Maya                    11
The Outsider            11
The Three Musketeers    11
Hero                    11
Othello                 11
Anna                    10
Anna Karenina           10
Name: title, dtype: int64
Primeiro filme chamado 'Romeo and Juliet':
                   title  year
124702  Romeo and Juliet  1916
Filmes que contenham a palavra “Exorcist”, ordenados do mais antigo ao mais recente:
                                         title  year
88003                             The Exorcist  1973
49658                  O Exorcista de Mulheres  1974
118920     Satanico Pandemonium: La Sexorcista  1975
140519                Exorcist II: The Heretic  1977
220073                        Kung Fu Exorcist  1978
17375                         The Exorcist III  1990
132451                        Teenage Exorcist  1991
117797                 Exorcist: The Beginning  2004
94189        Dominion: Prequel to the Exorcist  2005
209250  Costa Chica: Confession of an Exorcist  2006
86354                      Exorcist Chronicles  2007
130686                      The Disco Exorcist  2011
57932                      Exorcist Chronicles  2013
151850                              Exorcistas  2015
69974                           Shark Exorcist  2015
51101                            Bad Exorcists  2015
228642                  Exorcist House of Evil  2016
60700                      Accidental Exorcist  2016
195615                    Diary of an Exorcist  2016
161093                       American Exorcist  2016
Filmes feitos em 1950, um total de 1081:
                           title  year
198848             Girls' School  1950
153057              Fence Riders  1950
84530   Amanecer en el Pichincha  1950
34990      Les enfants terribles  1950
14970             Winchester '73  1950
...                          ...   ...
96678         The Kid from Texas  1950
34105          Forbidden Journey  1950
164109          Donne senza nome  1950
160859     Due mogli sono troppe  1950
159447            Three Husbands  1950

[1081 rows x 2 columns]
Filmes feitos de 1950 a 1959, um total de 12606:
                              title  year
198848                Girls' School  1950
102946           Cyrano de Bergerac  1950
85462                 La fe en Dios  1950
78700            Hit Parade of 1951  1950
69521            Tubig na hinugasan  1950
...                             ...   ...
119959           Da xia qing sha an  1959
49769   Juan Tamad Goes to Congress  1959
9127        Juke box - Urli d'amore  1959
216985                   Muskurahat  1959
44060                   La sceriffa  1959

[12606 rows x 2 columns]
Papéis que teve a trilogia “The Godfather”, agrupando pelo papel e com a informação da quantidade de vezes que esse papel apareceu no total da trilogia:
character
Al Neri                            2
Albert Volpe                       1
Alfio in 'Cavalleria Rusticana'    2
Anthony 'The Ant' Squigliaro       1
Anthony Corleone                   1
                                  ..
Young Hyman Roth                   1
Young Mama Corleone                1
Young Tessio                       1
Young priest                       1
Zasa's Bodyguard                   1
Name: character, Length: 228, dtype: int64
Elenco completo, ordenado pela classificação “n” do filme “Drácula” de 1958:
           title  year                   name     type  \
485197   Dracula  1958          Peter Cushing    actor
1242307  Dracula  1958        Christopher Lee    actor
1242308  Dracula  1958        Christopher Lee    actor
822398   Dracula  1958          Michael Gough    actor
3410427  Dracula  1958      Melissa Stribling  actress
3069196  Dracula  1958            Carol Marsh  actress
2677557  Dracula  1958            Olga Dickie  actress
2220986  Dracula  1958        John Van Eyssen    actor
2777216  Dracula  1958          Valerie Gaunt  actress
2731182  Dracula  1958            Janina Faye  actress
2444220  Dracula  1958         Barbara Archer  actress
1285506  Dracula  1958     Charles Lloyd Pack    actor
1453367  Dracula  1958         George Merritt    actor
2357769  Dracula  1958      George Woodbridge    actor
171732   Dracula  1958          George Benson    actor
1347640  Dracula  1958         Miles Malleson    actor
148496   Dracula  1958       Geoffrey Bayldon    actor
423307   Dracula  1958              Paul Cole    actor
1475047  Dracula  1958              Guy Mills    actor
1513434  Dracula  1958  Richard (VIII) Morgan    actor
1524497  Dracula  1958      John (II) Mossman    actor

                        character     n
485197         Doctor Van Helsing   1.0
1242307                   Dracula   2.0
1242308             Count Dracula   2.0
822398                     Arthur   3.0
3410427                      Mina   4.0
3069196                      Lucy   5.0
2677557                     Gerda   6.0
2220986                  Jonathan   7.0
2777216             Vampire Woman   8.0
2731182                     Tania   9.0
2444220                      Inga  10.0
1285506             Doctor Seward  11.0
1453367                 Policeman  12.0
2357769                  Landlord  13.0
171732                   Official  14.0
1347640                Undertaker  15.0
148496                     Porter  16.0
423307                        Lad  17.0
1475047              Coach Driver   NaN
1513434  Coach Driver's Companion   NaN
1524497             Hearse Driver   NaN
Papéis de Bruce Wayne como protagonista, um total de 45
                                                     title  year  \
1001                                 Batman Fights Dracula  1967
15783                   Batman v Superman: Dawn of Justice  2016
15809                                       Justice League  2017
15825                                        Suicide Squad  2016
77677                                The Lego Batman Movie  2017
77679                                       The Lego Movie  2014
117412                                       Batman Begins  2005
117443                                     The Dark Knight  2008
117444                               The Dark Knight Rises  2012
222593                                           She Kills  2016
313015                             B@ (Batman Parody Film)  2016
410245                         Le Squatch: Master Criminal  2011
414272                                      Batman & Robin  1997
436781                        Batman: Mask of the Phantasm  1993
436782                            Batman: The Killing Joke  2016
463594                         Le Squatch: Master Criminal  2011
463596                     Le Squatch: Master Criminal 2.0  2014
463599   The Adventures of the Fatbat Episode II, the I...  2016
463601   The Adventures of the Fatbat Episode III, Quee...  2017
637646                                      Batman Forever  1995
687004                              Bats in the Clocktower  2011
932271                                      Batman Reboots  2010
932273                               The Dark Knight Falls  2015
932275                     The Dark Knight: Not So Serious  2009
1003771                         Batman: The Shattered Cowl  2016
1111067                                             Batman  1989
1111069                                     Batman Returns  1992
1140283                                     Batman Forever  1995
1183764                                          I Had Fun  2015
1265802                                      Batman Begins  2005
1285862                                     Batman & Robin  1997
1304815                                   Batman and Robin  1949
1364943                 Caped Crusader: Gotham Underground  2016
1364945                     Caped Crusader: The Dark Hours  2014
1748590                                             Gotham  2011
1868959                                             Batman  1989
2013783                    Le Squatch: Master Criminal 2.0  2014
2033963                       Batman Beyond: Rising Knight  2014
2051979                 Batman v Superman: Dawn of Justice  2016
2077555                                    Batman Revealed  2012
2250242                                   Batman: Crusader  2014
2307985              Batman: Return of the Caped Crusaders  2016
2307987                                  Batman: The Movie  1966
2341434                                             Batman  1943
2341445                          The Three Stooges Follies  1974

                            name   type            character     n
1001                 Jing Abalos  actor          Bruce Wayne   1.0
15783                Ben Affleck  actor          Bruce Wayne   1.0
15809                Ben Affleck  actor          Bruce Wayne   NaN
15825                Ben Affleck  actor          Bruce Wayne   NaN
77677                Will Arnett  actor          Bruce Wayne   NaN
77679                Will Arnett  actor          Bruce Wayne   1.0
117412            Christian Bale  actor          Bruce Wayne   1.0
117443            Christian Bale  actor          Bruce Wayne   1.0
117444            Christian Bale  actor          Bruce Wayne   1.0
222593               Nathan Bonk  actor          Bruce Wayne  11.0
313015              Tony Calkins  actor          Bruce Wayne   NaN
410245              Troy Clawson  actor    Young Bruce Wayne   NaN
414272            George Clooney  actor          Bruce Wayne   2.0
436781              Kevin Conroy  actor          Bruce Wayne   1.0
436782              Kevin Conroy  actor          Bruce Wayne   1.0
463594       William (III) Craft  actor          Bruce Wayne   NaN
463596       William (III) Craft  actor          Bruce Wayne   4.0
463599       William (III) Craft  actor          Bruce Wayne   NaN
463601       William (III) Craft  actor          Bruce Wayne   NaN
637646              Ramsey Ellis  actor    Young Bruce Wayne  20.0
687004               Doug Fesler  actor          Bruce Wayne   3.0
932271            Mark Hendricks  actor          Bruce Wayne   1.0
932273            Mark Hendricks  actor          Bruce Wayne   1.0
932275            Mark Hendricks  actor          Bruce Wayne   2.0
1003771  George (III) Hutchinson  actor          Bruce Wayne   1.0
1111067           Michael Keaton  actor          Bruce Wayne   1.0
1111069           Michael Keaton  actor          Bruce Wayne   1.0
1140283               Val Kilmer  actor          Bruce Wayne   1.0
1183764          Miles Krofcheck  actor          Bruce Wayne   NaN
1265802                Gus Lewis  actor  Bruce Wayne - age 8  17.0
1285862               Eric Lloyd  actor    Young Bruce Wayne  16.0
1304815            Robert Lowery  actor          Bruce Wayne   1.0
1364943              Tom Mariano  actor          Bruce Wayne   NaN
1364945              Tom Mariano  actor          Bruce Wayne   1.0
1748590            Josh Prevatte  actor          Bruce Wayne   2.0
1868959         Charles Roskilly  actor    Young Bruce Wayne  42.0
2013783            Joshua Sitarz  actor    Young Bruce Wayne   NaN
2033963           Joe Sobalo Jr.  actor          Bruce Wayne   NaN
2051979            Brandon Spink  actor    Young Bruce Wayne  13.0
2077555     David B. Stewart III  actor          Bruce Wayne   1.0
2250242       Andrew Vinogradsky  actor          Bruce Wayne   NaN
2307985                Adam West  actor          Bruce Wayne   1.0
2307987                Adam West  actor          Bruce Wayne   1.0
2341434             Lewis Wilson  actor          Bruce Wayne   1.0
2341445             Lewis Wilson  actor          Bruce Wayne   NaN
Papéis que “Robert De Niro” que na sua carreira, um total de 103:
                                                  title  year            name  \
525856                                       15 Minutes  2001  Robert De Niro
525857                                     A Bronx Tale  1993  Robert De Niro
525858                                  American Hustle  2013  Robert De Niro
525859                                     Analyze That  2002  Robert De Niro
525860                                     Analyze This  1999  Robert De Niro
...                                                 ...   ...             ...
525954                                 True Confessions  1981  Robert De Niro
525955  Untitled De Niro - Ramirez - Jakubowicz Project  2017  Robert De Niro
525956                                      Wag the Dog  1997  Robert De Niro
525957                                  We're No Angels  1989  Robert De Niro
525958                               What Just Happened  2008  Robert De Niro

         type                 character    n
525856  actor  Detective Eddie Flemming  1.0
525857  actor                   Lorenzo  1.0
525858  actor           Victor Tellegio  NaN
525859  actor                Paul Vitti  1.0
525860  actor                Paul Vitti  1.0
...       ...                       ...  ...
525954  actor       Father Des Spellacy  1.0
525955  actor                      G.B.  NaN
525956  actor              Conrad Brean  2.0
525957  actor                       Ned  1.0
525958  actor                       Ben  1.0

[103 rows x 6 columns]
Listagem de papéis como protagonista (n=1) que teve o ator “Charlton Heston” na década dos 60’s, ordenado  por ano de forma descendente. Um total de 14:
                            title  year             name   type  \
944074                 Number One  1969  Charlton Heston  actor
944077         Planet of the Apes  1968  Charlton Heston  actor
944050               Counterpoint  1967  Charlton Heston  actor
944120                 Will Penny  1967  Charlton Heston  actor
944066                   Khartoum  1966  Charlton Heston  actor
944068               Major Dundee  1965  Charlton Heston  actor
944085  The Agony and the Ecstasy  1965  Charlton Heston  actor
944111               The War Lord  1965  Charlton Heston  actor
944038          55 Days at Peking  1963  Charlton Heston  actor
944052               Diamond Head  1962  Charlton Heston  actor
944101  The Pigeon That Took Rome  1962  Charlton Heston  actor
944102  The Pigeon That Took Rome  1962  Charlton Heston  actor
944103  The Pigeon That Took Rome  1962  Charlton Heston  actor
944054                     El Cid  1961  Charlton Heston  actor

                            character    n
944074               Ron 'Cat' Catlan  1.0
944077                  George Taylor  1.0
944050                   Lionel Evans  1.0
944120                     Will Penny  1.0
944066  Gen. Charles 'Chinese' Gordon  1.0
944068      Major Amos Charles Dundee  1.0
944085                   Michelangelo  1.0
944111                      Chrysagon  1.0
944038                Maj. Matt Lewis  1.0
944052         Richard 'King' Howland  1.0
944101        Captain Paul MacDougall  1.0
944102               Benny the Snatch  1.0
944103                       Narrator  1.0
944054        El Cid Rodrigo de Vivar  1.0
Quantos papéis para cada um dos atores na década 50’s:
name
Harold Miller          241
Franklyn Farnum        239
Sam (II) Harris        221
Bert Stevens           206
Kenner G. Kemp         202
                      ...
Jim McVeigh              1
Jim McCullough Sr.       1
Jim Maddux               1
Jim MacGeorge            1
'Blind Blake' Higgs      1
Name: name, Length: 32629, dtype: int64
Quantos papéis para cada uma das atrizes na década 50’s:
name
Bess Flowers          245
Leonor G?mez          108
Suzanne Ridgway       104
Cecilia Leger          88
Lupe Carriles          76
                     ...
Jeanne De Casalis       1
Jeanne Eggenweiler      1
Jeanne Kent             1
Jeanne Lennox           1
Zvezda Tzoneva          1
Name: name, Length: 17761, dtype: int64